# Ignore unnecessary project folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Plugins/
Windows/

# Ignore client's content
Content/VigilanteMovement/Projectile/
Content/VigilanteMovement/Transport/
Content/VigilanteMovement/Vehicles/
Content/VigilanteMovement/Level


# Ignore purchased content
Content/AAAModularSoldier/
Content/AdvancedLocomotionV4/
Content/AGS/Weapons/
Content/FluidFlux/

# Ignore temporary files
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.bat
*.zip
