# Ignore unnecessary project folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Ignore temporary files
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip
